<footer class="footer" id="contacts">

    <div class="footer_container">

        <div class="decor_line"></div>

        <div class="footer_content">
            <div class="footer_info">
                <h1 class="footer_logo">Кэнди шоп</h1>
                <span class="footer_rights">© 2023 Кэндишоп<br>Все права защищены</span>
            </div>

            <div class="footer_contacts">
                <a href="mailto:exampleMail@mail.ru" class="footer_mail">exampleMail@mail.ru</a>
            </div>
        </div>

    </div>

</footer>