{{#each sweets}}
<a href="/sweet/{{this.idSweet}}">
    <div class="goods">
        <img src="{{this.Image}}" alt="" class="goods_image">
        <span class="goods_title">{{this.Title}}</span>
        <span class="goods_info">1кг = {{this.Cost}}₽</span>
    </div>
</a>
{{/each}}