/* ------------------ footer start ------------------ */

.footer {
    margin-top: 80px;
  }
  
  .footer_container {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .decor_line {
    margin: 0 auto;
    border-top: 1px solid #ba8275;
    margin-bottom: 40px;
  }
  
  .footer_content {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }
  
  .footer_info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  
  .footer_logo {
    font-size: calc(14px + 4 * (100vw / 1536));
    color: #ba8275;
  }
  
  .footer_rights {
    font-size: calc(13px + 2 * (100vw / 1536));
    line-height: calc(15px + 3 * (100vw / 1536));
    color: #ba8275;
    margin-bottom: 20px;
  }
  
  .footer_mail {
    text-decoration: none;
    color: #ba8275;
    font-size: calc(12px + 3 * (100vw / 1536));
  
    transition: 0.2s all linear;
  }
  
  .footer_mail:hover {
    color: #f887fa;
  }
  
  /* ------------------ footer end ------------------ */


  @media (max-width: 1476px) {
    .main_nav-items {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    }
  
    .item:not(:last-child) {
      border-right: 1px solid #ba8275;
    }
  
    .item {
      display: grid;
    }
  
    .item button {
      width: 100%;
      justify-self: center;
    }
  }
  
  @media (max-width: 1350px) {
    .navigation {
      display: none;
    }
  }
  
  @media (max-width: 610px) {
    .advantages-bottom {
      row-gap: 40px;
    }
  
    .advantages_title-bottom {
      text-align: center;
    }
  
    .advantages_text-bottom {
      text-align: center;
    }
  
    .footer_content {
      flex-direction: column;
      column-gap: 40px;
    }
  
    .footer_logo {
      text-align: center;
    }
  
    .footer_rights {
      text-align: center;
    }
  
    .footer_contacts {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  
    .footer_mail {
      text-align: center;
    }
  }
  