body {
  font-family: Montserrat;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}
.main__inner {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ba8275;
}
.main__inner li {
  margin-top: 20px;
}
.popup {
  display: none;
}

.popup.active {
  display: initial;

  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__inner {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  width: fit-content;
  margin: 0 auto;

  border-radius: 5px;

  padding: 20px;
}

.form {
  margin-top: 50px;

  border: none;
  outline: none;
  padding: 16px 20px;
  background: #ba8275;
  border-radius: 5px;
  color: #ececec;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;

  text-decoration: inherit;

  transition: 0.2s all linear;
}

.form:hover {
  background: transparent;
  color: #ba8275;
}


