@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

/* #ba8275 - brown #f887fa - text_color-one #ececec - text_color-two */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Montserrat;
  font-size: calc(12px + 4 * (100vw / 1536));
  font-style: normal;
  font-weight: 400;
  color: #ececec;
}

button {
  font-size: calc(12px + 4 * (100vw / 1536));
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ------------------ header menu start ------------------ */

.header_menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  box-shadow: -5px 0 10px -5px #1b1b1b;
  transition: 0.5s ease-out;
}

.menu_active {
  right: 0;
}

.menu_nav {
  margin-top: 120px;
}

.nav_items li {
  text-align: center;
  margin: 40px;
}

.nav_items li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: calc(18px + 6 * (100vw / 1536));
  line-height: calc(20px + 6 * (100vw / 1536));
  letter-spacing: 0.03em;
  color: #ba8275;
  transition: 0.2s all linear;
}

.nav_items li a:hover {
  color: #f887fa;
}

/* ------------------ header menu end ------------------ */

/* ------------------ header start ------------------ */

.header {
  padding: 40px 0;
  position: sticky;
  top: 0;
  background: #ba8275;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 8px -6px rgba(27, 27, 27, 0.6);
  -moz-box-shadow: 0px 5px 8px -6px rgba(27, 27, 27, 0.6);
  box-shadow: 0px 5px 8px -6px rgba(27, 27, 27, 0.6);
}

.header_container {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: calc(20px + 12 * (100vw / 1536));
  color: #ececec;
  text-decoration: none;
  letter-spacing: 0.06rem;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation_items {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.navigation_items img,
.nav_items img {
  width: 35px;
  height: 35px;
}

.nav_items img {
  filter: invert(67%) sepia(23%) saturate(605%) hue-rotate(324deg)
    brightness(165%) contrast(87%);
}
/* .nav_items img:hover{
    filter: invert(74%) sepia(52%) saturate(882%) hue-rotate(250deg) brightness(100%) contrast(96%);
} */

.item-link {
  color: #ececec;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.item-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #ececec;
  transition: width 0.4s;
}

.item-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background-color: #ececec;
  transition: width 0.4s;
}

.open_popup-button {
  font-family: Montserrat;
  margin: 0 60px;
  letter-spacing: 0.05rem;
  padding: 18px 40px;
  color: #ececec;
  background: transparent;
  border: 1px solid #ececec;

  transition: 0.2s all linear;
}

.open_popup-button:hover {
  color: #ba8275;
  background: #ececec;
}

.burger {
  display: none;

  z-index: 3;
  position: relative;
  width: calc(25px + 25 * (100vw / 1100));
  height: calc(15px + 15 * (100vw / 1100));
}

.burger_line {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #ececec;

  transition: 0.2s all linear;
}

.burger_line-first {
  top: 0;
}

.burger_line-second,
.burger_line-third {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line-fourth {
  bottom: 0;
}

.burger.active .burger_line-first,
.burger.active .burger_line-fourth {
  opacity: 0;
}

.burger.active .burger_line-second {
  transform: translateY(-50%) rotate(45deg);
  background-color: #ba8275;
}

.burger.active .burger_line-third {
  transform: translateY(-50%) rotate(-45deg);
  background-color: #ba8275;
}

/* ------------------ header end ------------------ */

/* ------------------ main start ------------------ */

.main {
  margin-top: 80px;
  color: #1b1b1b;
}

.main_container {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.main_title {
  font-size: calc(22px + 10 * (100vw / 1536));
  text-align: center;
  color: #ba8275;
}

.main_nav {
  margin-top: 80px;
}

.main_nav-items {
  display: flex;
  justify-content: center;
}

.item {
  cursor: pointer;
  border: 1px solid #ba8275;
  color: #ba8275;
  align-self: center;

  transition: 0.2s all linear;
}

.item:not(:last-child) {
  border-right: none;
}

.item button {
  font-family: Montserrat;
  padding: 20px 30px;
  color: #ba8275;
  border: none;
  outline: none;
  background-color: transparent;
}

.item button:focus {
  color: #ececec;
}

.item button.active {
  color: #ececec;
  background: #ba8275;
}

.item:has(button:focus) {
  background: #ba8275;
}

.main_goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;

  margin-bottom: 80px;
}

.goods {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.goods_image {
  width: calc(155px + 155 * (100vw / 1536));
  height: calc(150px + 150 * (100vw / 1536));
  transition: 0.2s all linear;
}
.goods:hover .goods_image,
.goods_image:hover {
  transform: scale(0.9);
}

.goods_title {
  font-size: calc(13px + 3 * (100vw / 1536));
  color: #ba8275;
  text-align: left;
}

.goods_info {
  font-size: calc(11px + 2 * (100vw / 1536));
  color: #1b1b1b;
  text-align: left;
}

/* ------------------ section advantages start ------------------ */

.advantages {
  padding: 80px 0px;
  background: #ba8275;
}

.advantages_container {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.advantages_content {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.advantages-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.advantages-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.point {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.advantages_title {
  font-size: calc(18px + 8 * (100vw / 1536));
  line-height: calc(20px + 8 * (100vw / 1536));
  color: #ececec;
  text-align: center;
}

.advantages_text {
  font-size: calc(11px + 4 * (100vw / 1536));
  line-height: calc(13px + 4 * (100vw / 1536));
  color: #ececec;
  text-align: center;
}

.advantages_title-bottom {
  font-size: calc(18px + 8 * (100vw / 1536));
  line-height: calc(20px + 8 * (100vw / 1536));
  color: #ececec;
  text-align: left;
}

.advantages_text-bottom {
  font-size: calc(11px + 4 * (100vw / 1536));
  line-height: calc(13px + 4 * (100vw / 1536));
  color: #ececec;
  text-align: left;
}

/* ------------------ section advantages end ------------------ */
/* ------------------ main end ------------------ */

/* ------------------ footer start ------------------ */

.footer {
  margin-top: 80px;
}

.footer_container {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.decor_line {
  margin: 0 auto;
  border-top: 1px solid #ba8275;
  margin-bottom: 40px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.footer_logo {
  font-size: calc(14px + 4 * (100vw / 1536));
  color: #ba8275;
}

.footer_rights {
  font-size: calc(13px + 2 * (100vw / 1536));
  line-height: calc(15px + 3 * (100vw / 1536));
  color: #ba8275;
  margin-bottom: 20px;
}

.footer_mail {
  text-decoration: none;
  color: #ba8275;
  font-size: calc(12px + 3 * (100vw / 1536));

  transition: 0.2s all linear;
}

.footer_mail:hover {
  color: #f887fa;
}

/* ------------------ footer end ------------------ */

/* ------------------ popup form start ------------------ */

.popup_bg {
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 0.2s all linear;
}

.popup_bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s all linear;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #ba8275;
  max-width: 500px;
  min-width: fit-content;
  padding: 5%;
  -webkit-box-shadow: 0px 1px 20px 10px rgba(27, 27, 27, 0.2);
  -moz-box-shadow: 0px 1px 20px 10px rgba(27, 27, 27, 0.2);
  box-shadow: 0px 1px 20px 10px rgba(27, 27, 27, 0.2);

  transition: 0.2s all linear;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.2s all linear;
}

.popup_text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}

.popup_text h1 {
  text-align: center;
  color: #ececec;
  font-size: calc(14px + 4 * (100vw / 1536));
}

.popup_text span {
  text-align: center;
  color: #ececec;
  font-size: calc(11px + 3 * (100vw / 1536));
}

.label_info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.label_info label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

input::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #ececec;
}

input:-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #ececec;
}

.popup input {
  font-family: Montserrat;
  color: #ececec;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.03em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}

.popup_btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.form_btn {
  width: 100%;
  font-family: Montserrat;
  letter-spacing: 0.05rem;
  padding: 18px 40px;
  color: #ececec;
  background: transparent;
  border: 1px solid #ececec;

  transition: 0.2s all linear;
}

.form_btn:hover {
  color: #ba8275;
  background: #ececec;
}

/* ------------------ popup form end ------------------ */

@media (max-width: 1476px) {
  .main_nav-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
  }

  .item:not(:last-child) {
    border-right: 1px solid #ba8275;
  }

  .item {
    display: grid;
  }

  .item button {
    width: 100%;
    justify-self: center;
  }
}

@media (max-width: 1350px) {
  .navigation {
    display: none;
  }

  .open_popup-button {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 610px) {
  .advantages-bottom {
    row-gap: 40px;
  }

  .advantages_title-bottom {
    text-align: center;
  }

  .advantages_text-bottom {
    text-align: center;
  }

  .footer_content {
    flex-direction: column;
    column-gap: 40px;
  }

  .footer_logo {
    text-align: center;
  }

  .footer_rights {
    text-align: center;
  }

  .footer_contacts {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer_mail {
    text-align: center;
  }
}
